<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Profile</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='profile.css') }}">


</head>
<body>
    <div class="container">
        <h1>Welcome to InsightNLP</h1>
        <p>What would you like to do?</p>
        <ul>
            <li><a href="/ner">NER</a></li>
            <li><a href="/sentiment">Sentiment Analysis</a></li>
            <li><a href="/abuse_detection">Abuse Detection</a></li>
        </ul>
        <div class="footer">
            <p>&copy; 2024 InsightNLP. All rights reserved.</p>
        </div>
    </div>
</body>
</html>




